source https://www.nuget.org/api/v2

framework: netcoreapp2.0
nuget FSharp.Core
nuget Simple.Migrations
nuget Npgsql
nuget NEST 
nuget Dapper 
nuget Microsoft.Extensions.Configuration
nuget Microsoft.Extensions.Configuration.FileExtensions
nuget Microsoft.Extensions.Configuration.Json
nuget Microsoft.Extensions.Configuration.Binder

group Build
source https://www.nuget.org/api/v2

nuget FAKE